<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
<main class="container">

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>Employee Information</h3>
      <a href="/employees/add" class="btn btn-primary">
        <i class="fa fa-plus"></i> Add an employee
      </a>
      <br />
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Employee id</th>
              <th class="text-center">Employee name</th>
              <th class="text-center">Department</th>
              <th class="text-center">Designation</th>
              <th class="text-center">Salary</th>
              <th class="text-center"></th>
            </tr>
          </thead>
          <tbody>
            <!-- Template Row -->
            <!-- New buttons added -->
            <% for (let count = 0; count < employees.length; count++) { %>
            <tr>
              <td><%= employees[count].Employeeid %></td>
              <td class="text-center"><%= employees[count].Employeename %></td>
              <td class="text-center"><%= employees[count].Department %></td>
              <td class="text-center"><%= employees[count].Designation %></td>
              <td class="text-center"><%= employees[count].Salary %></td>
              <td class="text-center">
              
                <div class="d-grid gap-2 d-md-block">
                  <a href="/employees/<%= employees[count]._id %>" class="btn btn-warning btn-sm" type="button">
                    <i class="fa fa-pencil-square-o"></i> Update
                  </a>
                  <a href="/employees/delete/<%= employees[count].Employeename %>" class="btn btn-danger btn-sm" type="button">
                    <i class="fa fa-trash-o"></i> Delete
                  </a>
                </div>
                
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>

</main>

<% include ../partials/footer.ejs %>